<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()">
        <i class="fa fa-bars"></i>
      </a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
        <i class="fa fa-home w3-margin-right"></i>TryDBest</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News">
        <i class="fa fa-globe"></i>
      </a>
      <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings">
        <i routerLink="/auth" class="fa fa-user"></i>
      </a>
      <a routerLink="/auth" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages">
        <i class="fa fa-envelope"></i>
      </a>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-padding-large" title="Notifications">
          <i class="fa fa-bell"></i>
          <span class="w3-badge w3-right w3-small w3-green">3</span>
        </button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
          <a routerLink="/auth" class="w3-bar-item w3-button">One new friend request</a>
          <a routerLink="/auth" class="w3-bar-item w3-button">John Doe posted on your wall</a>
          <a routerLink="/auth" class="w3-bar-item w3-button">Jane likes your post</a>
        </div>
      </div>
      
                  
            <li class="w3-bar-item w3-hide-small w3-button w3-right w3-padding-large w3-hover-white">

              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
       
    </div>
  </div>
  
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  
    <a routerLink="/auth" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a routerLink="/auth" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
      <i class="fa fa-globe"> Profile</i>
    </a>
    <a routerLink="/auth" class="w3-bar-item w3-button  w3-padding-large w3-hover-white">
      <i  class="fa fa-user"> Account Settings</i>
    </a>
    <a routerLink="/auth" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
      <i class="fa fa-envelope"> Messages</i>
    </a>
   
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-padding-large" title="Notifications">
        <i class="fa fa-bell"></i>
        <span class="w3-badge w3-right w3-small w3-green">3</span>
      </button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
        <a routerLink="/auth" class="w3-bar-item w3-button">One new friend request</a>
        <a routerLink="/auth" class="w3-bar-item w3-button">John Doe posted on your wall</a>
        <a routerLink="/auth" class="w3-bar-item w3-button">Jane likes your post</a>
      </div>
    </div>
    <a routerLink="/auth" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
      <img [src]="url" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
    </a>

    <a (click)="logout()" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
        Logout
    </a>
  </div>
  
  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card-4 w3-round w3-white">
          <div class="w3-container">
            <h4 class="w3-center">My Profile</h4>
            <p class="w3-center">
              TryDBest
            </p>
            <hr>
            <hr>
            <hr>
            <hr>
            <p>
              <a routerLink="/profile">
                <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>
              </a> {{user.email}}</p>
          </div>
        </div>
        <br>
  
        <!-- Accordion -->
        <div class="w3-card w3-round">
          <div class="w3-white">
            <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align">
              <i class="fa fa-home fa-fw w3-margin-right"></i> My Restaurants</button>
            <div id="Demo1" class="w3-show w3-container">
              <div *ngIf="noAddress; else oneOrMoreAddress" >
                  <b>no address available yet</b>
              </div>
              <ng-template #oneOrMoreAddress>

                <div *ngFor="let address of dataService.getUser().restaurants;let i =index">
                  <a (click)="addressDetails(i)" class="btn btn-link"> 
                      <div class="container">
                          <div class="row">
                               
                              
                                    <small class="text-secondary">{{address.addressLine1}}, {{address.state}}, {{address.zipcode}}</small>
                                  
                          </div>
                          </div>

                  </a>
                  <br/>
                  
                </div>
                <button type="button" (click)="addAnotherAddress()" class="btn btn-link">+ add another restaurant location</button>
                </ng-template>
           
            </div>
            <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align">
              <i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Testing Events</button>
            <div id="Demo2" class="w3-show w3-container">
            <div *ngIf="eventName">
              <b>{{eventName}}</b>
            </div>
            </div>
            <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align">
              <i class="fa fa-home fa-fw w3-margin-right"></i> My Restaurant Photos</button>
            <div id="Demo3" class="w3-show w3-container">
              <div class="w3-row-padding">
                <br>
                <div *ngFor="let restauMenu of  restaurantMenusForm">
                   <!-- Display Image -->
        <div style="width:100%" class="w3-margin-bottom">
        <amplify-s3-image [path]="restauMenu.menuPicture" 
        [options]="{'level': 'public'}" >
        </amplify-s3-image>
      </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <!-- End Left Column -->
      </div>
  
      <!-- Middle Column -->
      <div class="w3-col m7">
            <div class="w3-container w3-card w3-white w3-round w3-margin">
                    <form [formGroup]="userForm" novalidate>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                            <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input type="text" required class="form-control" formControlName="firstname" placeholder="Enter Your First Name">
                                    
                                    <div *ngIf="userForm.controls['firstname'].invalid" class="alert alert-danger">
                                        <div>
                                        First Name is required.
                                      </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-2">                           </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" required formControlName="lastname" placeholder="Enter Your Last Name">
                                   
                                    <div *ngIf="userForm.controls['lastname'].invalid" class="alert alert-danger">
                                        <div>
                                        Last Name is required.
                                      </div>
                                    </div>
                            
                                  </div>
                            </div>
                        </div>
                        <button type="submit"  [disabled]="userForm.invalid" (click)="saveFirstNameLastName()" class="btn btn-primary">Save</button> 
                        &nbsp;
                        <div *ngIf="showSpinnerName" class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                            <br/>
                            
                            
                    </form>
            </div>
            <div *ngIf="(!(userForm.get('firstname').value==='' || userForm.get('lastname').value==='' )&& !hideRestaurantDetails)">
        <div class="w3-container w3-card w3-white w3-round w3-margin">
          <br>
         
          <div id="address">
            <form [formGroup]="restaurantForm">
                <div class="form-group">
                    <label for="restaurantName">Restaurant Name</label>
                    <input type="text" class="form-control" formControlName="restaurantName" placeholder="Enter the Restaurant Name">
                </div>
              
              <div class="form-group">
                <label for="inputAddress">Address Line 1</label>
                <input type="text" class="form-control" formControlName="addressLine" placeholder="address line 1">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address Line 2</label>
                <input type="text" class="form-control" formControlName="addressLine2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" formControlName="city">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select formControlName="state" class="form-control">
                      <option value="">Select State</option>
                    <option *ngFor="let state of usStates" [ngValue]="state.name">{{state.name}}</option>
  
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip</label>
                  <input type="text" class="form-control" formControlName="zipCode">
                </div>
                
              </div>
              <div class="form-group">
                  <div class="row">
                      <div class="col-md-5">
                  <label for="phoneNumber">Phone Number</label>
                  <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Phone Number">
              </div>
              </div>
                </div>
              <div class="form-group">
                  <div class="row">
                      <div class="col-md-5">
                  <label for="websiteAddress">WebSite Address</label>
                  <input type="text" class="form-control" formControlName="websiteAddress" placeholder="Enter WebSite">
                      </div>
                  </div>
                </div>
              <button type="submit"  (click)="saveAddress()" class="btn btn-primary">Save Address</button>
              &nbsp;
              <div *ngIf="showSpinnerAddress" class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            
            </form>
          </div>
  
          <br/>
  
          <hr class="w3-clear">
          
         
          
        
        </div>
        <div *ngIf="showListofMenus">
        <div *ngFor="let restauMenu of  restaurantMenusForm;let i =index">
        <div *ngIf="restauMenu.menuType==='Entree'">
        <div class="w3-container w3-card w3-white w3-round w3-margin">
            <b>Restaurant  Entree Menus:</b>
            <br/>
            <amplify-s3-image [path]="restauMenu.menuPicture" 
            [options]="{'level': 'public'}">
            </amplify-s3-image>           
            <h6><b>Menu Name : {{restauMenu.menuName}}</b></h6>         
            <h6>Menu Portion : {{restauMenu.menuPortion}}</h6>
          <h6>Menu Price : {{restauMenu.menuPrice | currency}}</h6>
          <h6>Menu Description : {{restauMenu.menuDescription}}</h6>
            <br/>
            <button class="pull-right btn btn-sm btn-warning" (click)="deleteMenu(i)">Delete</button>
            <hr>
            

          </div>
          </div>


          <div *ngIf="restauMenu.menuType==='Appetizer'">
              <div class="w3-container w3-card w3-white w3-round w3-margin">
                  <b>Restaurant  Appetizer Menus:</b>
                  <br/>
                  <amplify-s3-image [path]="restauMenu.menuPicture" 
                  [options]="{'level': 'public'}">
                  </amplify-s3-image>           
                  <h6><b>Menu Name : {{restauMenu.menuName}}</b></h6>         
                  <h6>Menu Portion : {{restauMenu.menuPortion}}</h6>
                <h6>Menu Price : {{restauMenu.menuPrice | currency}}</h6>
                <h6>Menu Description : {{restauMenu.menuDescription}}</h6>
                  <br/>
                  <button class="pull-right btn btn-sm btn-warning" (click)="deleteMenu(i)">Delete</button>
                  <hr>
                  
      
                </div>
                </div>


                <div *ngIf="restauMenu.menuType==='Dessert'">
                    <div class="w3-container w3-card w3-white w3-round w3-margin">
                        <b>Restaurant  Dessert Menus:</b>
                        <br/>
                        <amplify-s3-image [path]="restauMenu.menuPicture" 
                        [options]="{'level': 'public'}">
                        </amplify-s3-image>
                        <h6><b>Menu Name : {{restauMenu.menuName}}</b></h6>         
                        <h6>Menu Portion : {{restauMenu.menuPortion}}</h6>
                      <h6>Menu Price : {{restauMenu.menuPrice | currency}}</h6>
                      <h6>Menu Description : {{restauMenu.menuDescription}}</h6>
                        <br/>
                        <button class="pull-right btn btn-sm btn-warning" (click)="deleteMenu(i)">Delete</button>
                        <hr>
                        
            
                      </div>
                      </div>


        </div>
      </div>
<div *ngIf="!this.noAddress" >
        <div class="w3-container w3-card w3-white w3-round w3-margin">
            <b>Add Restaurant Menus:</b>

            <br/>
            <br/>
        <div *ngIf="!showMenuAddMenu">
            <button type="button" (click)="showAddMenuList()" class="btn btn-link">+ add a Menu</button>
        </div>
            <br/>
            <div *ngIf="showMenuAddMenu">
            <form [formGroup]="menuTypeForm" novalidate>
                <div class="container">

                    <div class="row">
                        <div class="col-md-5">
                <div class="form-group">
                        <label for="menuType"><b>Select Menu Type : &nbsp;</b></label>
                        <select  class="btn btn-warning" formControlName="menuType">
                            <option value="null" selected="selected">Select Menu Type</option>                           
                            <option [ngValue]="menuType.name" *ngFor="let menuType of menuTypes">{{menuType.name}}</option>
                          </select>
                       
                </div>

              

            </div>
          </div>
          <br/>
                    <div class="row">
                        <div class="col-md-5">
                          
                            <div class="form-group">
                                <label for="menuPortion"><b>Select Meal Portion : &nbsp;</b></label>
                                <select  class="btn btn-info" formControlName="menuPortion">                           
                                    <option value="null" selected="selected">Select Food Portion</option>    
                                  <option [ngValue]="menuPortion.name" *ngFor="let menuPortion of menuPortions">{{menuPortion.name}}</option>
                                  </select>
                               
                        </div>

                       </div>

                       
            </div>
            <div class="row">
                <div class="col-md-5">
                  
                    <div class="form-group">
                        <label for="menuPortion"><b>Enter Meal Name : &nbsp;</b></label>
                        <input type="text" class="form-control" formControlName="mealName" placeholder="Enter Meal Name">
                       
                </div>

               </div>

               
    </div>
    <div class="row">
        <div class="col-md-5">
          
            <div class="form-group">
                <label for="menuPortion"><b>Enter Meal Price : &nbsp;</b></label>
                <input type="text" class="form-control" formControlName="mealPrice" placeholder="Enter Meal Price">
               
        </div>

       </div>

       
</div>

<br/>

<div class="row">
    <div class="col-md-5">
      
        <div class="form-group">
            <label for="comment">Enter Meal Description:</label>
            <textarea class="form-control"  formControlName="mealDescription" rows="5" id="mealDescription"></textarea>
          </div> 

   </div>

   
</div>









            <br/>
            <div class="row">
                <div class="col-md-5">
                  
                    <div class="form-group">
                        <label for="menuPortion"><b>Select Meal Picture : &nbsp;</b></label>
                        <amplify-s3-image [path]="menuPicture" 
        [options]="{'level': 'public'}" *ngIf="showMenuPicture">
        </amplify-s3-image>
      
      <!-- Photo Picker -->
        <amplify-photo-picker *ngIf="!showMenuPicture" 
        path="image"[storageOptions]="{'level': 'public'}" (uploaded)="onMenuImageUploaded($event)">
        </amplify-photo-picker>

        <div class="w3-row-padding" style="margin:0 -16px">
            <button type="button" class="btn btn-info" *ngIf="showMenuPicture" (click)="editImage()">Edit Picture</button>
        </div>
                       
                </div>
        
               </div>
        
               
        </div>
            <br/>
            <div *ngIf="showMenuPicture">
            <button type="submit"  (click)="saveRestaurantMenu()" class="btn btn-primary">Create Menu</button> 
          </div>
            &nbsp;
            <div *ngIf="showSpinnerEventDate" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
           
          </div>
                <br/>
                
                
        </form>
        </div>
       

            
    </div>
    </div>


  
  </div>
  
        <!-- End Middle Column -->
      </div>
  
      <!-- Right Column -->
      <div class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Upcoming Events:</p>
            <img src="assets/images/featured1.jpg" alt="Forest" style="width:100%;">
            <p>
              <strong>Dancing Goat Coffee</strong>
            </p>
            <p>Friday 3PM - 7PM</p>
            <!--<p>
              <button class="w3-button w3-block w3-theme-l0">Info</button>
            </p>-->
          </div>
        </div>
        <br>
  
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Friend Request</p>
            <img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" style="width:50%">
            <br>
            <span>Jane Doe</span>
            <div class="w3-row w3-opacity">
              <div class="w3-half">
                <button class="w3-button w3-block w3-green w3-section" title="Accept">
                  <i class="fa fa-check"></i>
                </button>
              </div>
              <div class="w3-half">
                <button class="w3-button w3-block w3-red w3-section" title="Decline">
                  <i class="fa fa-remove"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
  
        <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
          <p>ADS</p>
        </div>
        <br>
  
        <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
          <p>
            <i class="fa fa-bug w3-xxlarge"></i>
          </p>
        </div>
  
        <!-- End Right Column -->
      </div>
  
      <!-- End Grid -->
    </div>
  
    <!-- End Page Container -->
  </div>
  <br>
  
  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
  </footer>