<app-navigationbar [userIsLoggedIn]="isLoggedIn"></app-navigationbar>
<!-- SLIDER -->
<section class="slider d-flex align-items-center">
<!--img src="assets/images/slider.jfif" class="img-fluid" alt="#">-->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="slider-title_box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slider-content_wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                    <h4>Discover Great Restaurants Around You</h4><br/><br/>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                                <form>
                                        <div class="input-group">
                                          <input type="email" class="form-control" size="50" placeholder="Enter Your Location" required>
                                          <div class="input-group-btn">
                                            <button (click)="search()" type="button" class="btn btn-danger">Search</button>
                                          </div>
                                        </div>
                                      </form>
                            <div class="slider-link">
                                <a href="#">Browse Popular</a>
                                <span>or</span>
                                <a href="#">Recently Addred</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// SLIDER -->
<!--//END HEADER -->
<!--============================= FIND PLACES =============================-->

<!--//END FIND PLACES -->
<!--============================= FEATURED PLACES =============================-->
<section class="main-block light-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="styled-heading">
                    <h3>Featured Restaurants</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a href="detail.html">
                        <img src="assets/images/featured1.jpg" class="img-fluid" alt="#">
                        <span class="featured-rating-orange">6.5</span>
                        <div class="featured-title-box">
                            <h6>Burger & Lobster</h6>
                            <p>Restaurant </p>
                            <span>• </span>
                            <p>3 Reviews</p>
                            <span> • </span>
                            <p>
                                <span>Tasting Event Date</span></p>
                            <ul>
                                <li>
                                    <span class="icon-location-pin"></span>
                                    <p>1301 Avenue, Atlanta, Ga 11230</p>
                                </li>
                                <li>
                                    <span class="icon-screen-smartphone"></span>
                                    <p>+44 20 7336 8898</p>
                                </li>
                                <li>
                                    <span class="icon-link"></span>
                                    <p>https://burgerandlobster.com</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                <div class="closed-now">CLOSED NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a href="detail.html">
                        <img src="assets/images/featured2.jpg" class="img-fluid" alt="#">
                        <span class="featured-rating-green">9.5</span>
                        <div class="featured-title-box">
                            <h6>Joe’s Shanghai</h6>
                            <p>Restaurant </p>
                            <span>• </span>
                            <p>3 Reviews</p>
                            <span> • </span>
                            <p>
                                <span>Tasing Event Date</span></p>
                            <ul>
                                <li>
                                    <span class="icon-location-pin"></span>
                                    <p>1301 Avenue, Atlanta, Ga 11230</p>
                                </li>
                                <li>
                                    <span class="icon-screen-smartphone"></span>
                                    <p>+44 20 7336 8898</p>
                                </li>
                                <li>
                                    <span class="icon-link"></span>
                                    <p>https://burgerandlobster.com</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                <div class="closed-now">CLOSED NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a href="detail.html">
                        <img src="assets/images/featured3.jpg" class="img-fluid" alt="#">
                        <span class="featured-rating">3.2</span>
                        <div class="featured-title-box">
                            <h6>Tasty Hand-Pulled Noodles</h6>
                            <p>Restaurant </p>
                            <span>• </span>
                            <p>3 Reviews</p>
                            <span> • </span>
                            <p>
                                <span>Tasting Event Date</span></p>
                            <ul>
                                <li>
                                    <span class="icon-location-pin"></span>
                                    <p>1301 Avenue, Atlanta, Ga 11230</p>
                                </li>
                                <li>
                                    <span class="icon-screen-smartphone"></span>
                                    <p>+44 20 7336 8898</p>
                                </li>
                                <li>
                                    <span class="icon-link"></span>
                                    <p>https://burgerandlobster.com</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                <div class="open-now">OPEN NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a href="#" class="btn btn-danger">VIEW ALL</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END FEATURED PLACES -->
<!--//END CATEGORIES -->
<!--============================= ADD LISTING =============================-->
<section class="main-block light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="add-listing-wrap">
                    <h2>Reach millions of People</h2>
                    <p>Add your Business infront of millions and earn 3x profits from our listing</p><br/><br/>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a routerLink="/login" class="btn btn-danger">
                        <span class="ti-plus"></span> ADD LISTING</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END ADD LISTING -->
<!--============================= FOOTER =============================-->
<footer class="main-block dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright &copy; 2019 Listing. All rights reserved | Website is build
                        <i class="ti-heart" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Lionel and Dejavu</a>
                    </p><br/><br/><br/><br/>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <ul>
                        <li>
                            <a href="#">
                                <span class="ti-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ti-twitter-alt"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ti-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--//END FOOTER -->




<!-- jQuery, Bootstrap JS. -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script>
    $(window).scroll(function () {
        // 100 = The point you would like to fade the nav in.

        if ($(window).scrollTop() > 100) {

            $('.fixed').addClass('is-sticky');

        } else {

            $('.fixed').removeClass('is-sticky');

        };
    });
</script>
