<app-navigationbar [userIsLoggedIn]="isLoggedIn"></app-navigationbar>

    <div class="container">
            <br/>
            <p>Filter Page</p>
            <hr>
            <div class="row">
                <div class="col-md-6 col-lg-offset-4">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="search by restaurant name">
            </div>
        </div>
    </div>  
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Advance Search
    </button> 
    <div class="collapse" id="collapseExample">
            <div class="row">
                <aside class="col-sm-4">
            <p>&nbsp;</p>
            
            
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Restaurants Categories</h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                        <form>
                            <label class="form-check">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-label">
                                Asian
                              </span>
                            </label> <!-- form-check.// -->
                            <label class="form-check">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-label">
                                Italian
                              </span>
                            </label>  <!-- form-check.// -->
                            <label class="form-check">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-label">
                                Southern Food
                              </span>
                            </label>  <!-- form-check.// -->
                        </form>
            
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
                
                
            </div> <!-- card.// -->
            
            
            
            
                </aside> <!-- col.// -->
               
                <aside class="col-sm-4">
                        <p></p>
                        
                        
                        
                        <div class="card">
                                <article class="card-group-item">
                                        <header class="card-header">
                                            <h6 class="title">Choose type </h6>
                                        </header>
                                        <div class="filter-content">
                                            <div class="card-body">
                                            <label class="form-check">
                                              <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                              <span class="form-check-label">
                                                Wings
                                              </span>
                                            </label>
                                            <label class="form-check">
                                              <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                              <span class="form-check-label">
                                                Pizza
                                              </span>
                                            </label>
                                            <label class="form-check">
                                              <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                              <span class="form-check-label">
                                                Pasta
                                              </span>
                                            </label>
                                            </div> <!-- card-body.// -->
                                        </div>
                                    </article> <!-- card-group-item.// -->
                            
                        </div> <!-- card.// -->
                        
                        
                        
                            </aside> <!-- col.// -->
            
                
                <aside class="col-sm-4">
            <p></p>
            
            
            
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Price Range </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                        <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min</label>
                          <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                        </div>
                        <div class="form-group col-md-6 text-right">
                          <label>Max</label>
                          <input type="number" class="form-control" placeholder="$1,0000">
                        </div>
                        </div>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
                
            </div> <!-- card.// -->
            
            
            
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
            </div>
            
            </div> 
            <!--container end.//-->


<!--// SLIDER -->
<!--//END HEADER -->
<!--============================= FIND PLACES =============================-->

<!--//END FIND PLACES -->
<!--============================= FEATURED PLACES =============================-->
<section class="main-block light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Featured Restaurants</h3>
                    </div>
                </div>
            </div>
            <div class="row">
              

                    <div  *ngFor="let restaurant of restaurants | restaurantFilter:searchTerm ;let i =index" class="col-md-4 featured-responsive">
                            <div *ngIf="restaurant.restaurantMenus.length!=0"> 
                        <div class="featured-place-wrap">
                                <a [routerLink]="" (click)="visitMenuPage(i)">
                                        
                                    <img height="42" width="42" src="{{imagepath+restaurant.restaurantMenus[0].menuPicture||'assets/images/featured3.jpg'}}" class="img-fluid" alt="#">
                                    <span class="featured-rating">3.2</span>
                                    <div class="featured-title-box">
                                        <h6>{{restaurant.restaurantName}}</h6>
                                        <p>Restaurant </p>
                                        <span>• </span>
                                        <p>3 Reviews</p>
                                        <span> • </span>
                                        <ul>
                                            <li>
                                                <span class="icon-location-pin"></span>
                                                <p>{{restaurant.addressLine1}},{{restaurant.city}},{{restaurant.zipCode}}</p>
                                            </li>
                                            <li>
                                                <span class="icon-screen-smartphone"></span>
                                                <p>{{restaurant.phoneNumber}}</p>
                                            </li>
                                            <li>
                                                <span class="icon-link"></span>
                                                <p>{{restaurant.websiteAddress}}</p>
                                            </li>
            
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="open-now">See Menu</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            </div>
                        </div>

                
                
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="featured-btn-wrap">
                        <a href="#" class="btn btn-danger">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   

